





<form action ="/task" method="post">
	<label>Nom</label>
	<input type="text" name="name"><br>
	<label>Email</label> 
	<input type="text" name="email"> <br>
	<label>Mot de passe</label>
	<input type="password" name="password"><br>
	<input id="phrase" name="phrase" >
	<input type="submit" value="Add task">
</form>




